@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDO</h1>
    <p>SISTEMA PARA MANEJO DE ALMACEN</p>
    <img src="https://softrestaurant.com/images/2020/Blog/11/control_de_inventarios_en_un_restaurante.webp" alt="ALMACEN DE RESTAURANTE" />
</div>
